@model LancheListViewModel

@* <div>
    <h2>@ViewData["Titulo"]</h2>
</div>
<h2>@ViewData["Data"]</h2> <br />

<hr />
<h3>@ViewBag.Total @ViewBag.TotalLanches</h3>
<hr /> <br />

<h1>@TempData["Nome"]</h1> *@

@*/*---------------------------------------------*/*@


<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">
        @foreach (var lanches in Model.Lanches)
        {
            <partial name="_LanchesResumo" for="@lanches"/>
        }
    </div>
</div>
