@model CarrinhoCompraViewModel

<div class="container">
    <div class="row">
        <img src="~/Images//Full-Cart-icon.png" alt="Alternate Text" />
        <div>
            <h4> Seu carrinho de compras :</h4>
        </div>
        <table class="table table-bordered table-striped  ">

            <table>
                <tr>
                    <th>Quantiade</th>
                    <th>Lanche</th>
                    <th class="text-right">Preço</th>
                    <th class="text-right">Subtotal</th
                    <th></th>
                </tr>
            </table>

            <tbody>
                @foreach(var item in Model.CarrinhoCompra.CarrinhoCompraItems)
                {
                    <tr>
                        <td class="text-center">@item.Quantidade</td>
                        <td class="text-left">@item.Lanche.Nome</td>
                        <td class="text-right">@item.Lanche.Preco.ToString("c")</td>
                        <td class="text-right">
                            @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                        </td>
                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemCarrinhoCompra" asp-route-lancheId="@item.Lanche.LancheId">
                                <img src="~/Images/delete.png" alt="Alternate Text" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="3" class="text-right">Total:</td>
                    <td class="text-right">
                        @Model.CarrinhoCompraTotal.ToString("c");
                    </td>
                </tr>
            </tfoot>

        </table>

        <div class="text-right"> 
            <div class="btn-group">
                <a asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                &nbsp;&nbsp;&nbsp;
                <a asp-controller="Lanche" asp-action="List">Continuar Comprando</a>
            </div>
        </div>

    </div>
</div>